@use '../abstracts/' as *;


.header {

  margin: 0 auto;
  padding:1.2rem 3.4rem;
  border: none;
  border-radius: 1rem;
  text-align: center;
  @include flex(column, center, center);
  background-color: $headerBgColor;

}
