@use '../abstracts/'as *;

.card {
  width: 320px;
  min-height: 610px;
  margin: 0.5rem;
  padding: 0 2rem;
  border: none;
  border-radius: 1rem;
  background-color: $cardBgColor;
  @include flex(column,space-between, center);
  transition: all 0.5s ease-in-out;

  &__header{
    margin:2rem auto;
    padding: 0.8rem 1.6rem;
    @include flex(column,center, center);


    small{
      font-size: 2.5rem;
      font-weight: 300;
      text-align: center;
    }

    h3{
      font-size: 3rem;
      font-weight: 600;
      text-align: center;

      span{
        font-size: 1.6rem;
        font-weight: 600;
      }
    }


  }
  &__body{
    width: 90%;
    @include flex(column, center, center);
    background-color: #111;

    .heading{
      width: 100%;
      padding: 2rem 0;
      @include flex(column, space-between, center);
      background-color: #222;

      p{
        font-size: 2rem;
        text-align: left;
        padding: 1.2rem 3.6rem;
        border: 1px solid darken($textColor,80);
        border-radius: 0.4rem;

        span{
          font-size: 2rem;
          color:$textColor;
          text-align:right;
          margin-left: 2rem;

        }
      }

      small {
        font-size: 1.4rem;
        font-weight:300;
        text-align: left;
        margin-top: 0.5rem;
        color:$headerBgColor;
      }

    }

    ul{
      width: 90%;
      list-style: none;
      margin: 2rem auto;
      background-color: #000;


      li{
        font-size: 1.6rem;
        font-weight: 300;
        text-align:left;
        display: block;
        padding: 0.8rem 1.6rem;

        &::before{
          content: '\2022';
          font-weight:600;
          display: inline-block;
          width: 1rem;
          margin-left: -2rem;
          padding: 0 0.5rem;
          color:$headerBgColor;

        }
      }
    }

  }

  &.isActive{
    transform: scale(1.01) translateY(-1rem);
    box-shadow: $boxShadow;

  }

  .btn{
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    margin: 2rem auto;
    padding: 1.2rem 4.6rem;
    border: 1px solid $textColor;
    border-radius: 0.4rem;
    box-shadow: $boxShadow;
    outline:none;
    color: $textColor;
    background-color: transparent;
    transition: all 0.5s ease-in-out;

    &:hover{
      border:none;
      background-color:$headerBgColor;
    }

    &.btn--primary{
      border:none;
      background-color:$headerBgColor;
      transition: all 0.3s ease-in-out;

      &:hover{
        transform: scale(0.95);
        border: 1px solid $textColor;
        background-color: transparent;
      }
    }
  }

}

