@use '../abstracts/' as *;

.title {

  small {
    font-size: 1.6rem;
    line-height: 2.1rem;
    margin-bottom: 1rem;
  }

  h1 {
    margin: 0 auto;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.7rem;
    text-align: left;
  }
}
