@use '../abstracts/' as *;

.title {

  padding: 1rem 0;
  @include flex(column, center, center);

  small {
    font-size: 1.6rem;
    line-height: 2.1rem;
    text-align: left;
  }

  h1 {
    margin: 0 auto;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.7rem;
  }
}
